html {
  width: 100%;
  height: 100vh;
  background-color: hsl(233, 47%, 7%);
}

.root {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  margin-top: 9%;
  width: 75%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: hsl(244, 38%, 16%);
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 15px;
  border-radius: 10px;
}

.info {
  padding: 8% 13% 0% 13%;
}

.header {
  font-size: 34px;
}

.emphasis {
  color: hsl(277, 64%, 61%);
}

.image {
  background-color: hsl(277, 64%, 61%, 2);
  overflow: hidden;
  height: 100%;
  z-index: 2;
}